@import '../utils/mixins';
@import '../utils/variables';

.app {
  width: 100%;
  // position: relative;
}

.wrapper {
  margin: auto;

  @include screenSize(XL) {
    width: calc(100% - 22rem);
  }

  @include screenSize(L) {
    width: calc(100% - 15rem);
  }

  @include screenSize(M) {
    width: calc(100% - 8rem);
  }

  @include screenSize(S) {
    width: calc(100% - 4rem);
  }
}

.top-bar {
  position: sticky;
  top: 0;
  height: auto;
  padding: 2.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  z-index: 1;
}

.logo {
  height: inherit;

  &__mobile {
    @include screenSize(L) {
      display: none;
    }
    @include screenSize(XL) {
      display: none;
    }
  }

  &__desktop {
    @include screenSize(M) {
      display: none;
    }
    @include screenSize(S) {
      display: none;
    }
  }
}

.user {
  height: 100%;
  display: flex;
  gap: 1rem;

  @include screenSize(M) {
    width: max-content;
  }
  @include screenSize(S) {
    width: max-content;
  }

  &__search {
    @include screenSize(M) {
      width: 40%;
    }
    @include screenSize(S) {
      width: 40%;
    }

    .search-form {
      width: 100%;
      &__group {
        padding-left: 2rem;
        display: flex;
        justify-content: space-between;
        border: solid 1px $color-gray-1;
        border-right: transparent;
        border-radius: 0 2.5rem 2.5rem;
        overflow: hidden;
      }
      &__control {
        width: 25rem;
        outline: none;
        border: none;

        @include screenSize(M) {
          width: 100%;
        }
        @include screenSize(S) {
          width: 100%;
        }
        // border: solid 1px $color-gray-1;
        // border-right: transparent;
        // border-radius: 3rem;
      }
      &__icon {
        height: inherit;
        padding: 1rem;
        display: flex;
        background-color: $color-blue-1;
        border: solid 4px $color-blue-1;
        border-radius: 3.5rem;
        border-top-left-radius: 0px;
      }
    }
  }

  &__notifications {
    display: flex;
    gap: 1rem;

    .notification {
      position: relative;
      min-width: 4rem;
      height: 4rem;
      padding: 1rem;
      border: solid 1px $color-gray-1;
      border-radius: 50%;

      &__img {
        width: 100%;
        height: 100%;
      }

      &__attr {
        position: absolute;
        padding: 0.5rem;
        top: 70%;
        right: 5%;
        border-radius: 50%;

        &--alert {
          background-color: $color-red-1;
        }
      }
    }
  }

  &__profile {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;

    .name {
      font-size: 1.2rem;
      color: $color-blue-2;
    }
    &--avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      cursor: pointer;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .avatar img {
      width: 5rem;
      height: 5rem;
    }
  }

  &__options {
    position: absolute;
    height: auto;
    padding: 2rem;
    width: max-content;
    top: 100%;
    right: 0;
    display: none;
    box-shadow: 0px 4px 14px rgba($color-gray-1, 0.6);
    z-index: 1;
    background-color: $color-white;
    border-radius: 1rem;

    &--visible {
      display: block;
    }
  }

  &__option {
    &--flex {
      display: flex;
      gap: 2rem;
      align-items: center;
      padding-bottom: 1.5rem;

      p {
        margin: 0.5rem 0;
      }
    }
    &--border {
      border-bottom: solid 1px $color-gray-1;
    }

    &--group {
      padding: 2rem 0;
      display: grid;
      gap: 1.5rem;
    }

    &--heading {
      color: $color-blue-1;
    }

    &--action {
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      &:hover {
        background-color: $color-blue-1;
        color: $color-white;
      }
    }

    &--icon {
      color: $color-blue-1;
    }
  }

  &__text {
    &--bold {
      font-weight: 700;
    }
    &--faded {
      color: $color-gray-3;
    }
  }

  &__btn {
    padding: 0.5rem 1rem;
    border: solid 1px $color-blue-1;
    color: $color-blue-1;
    border-radius: 0.4rem;

    &:hover {
      background-color: $color-blue-1;
      color: $color-white;
    }
  }
}

.nav {
  width: max-content;
  display: flex;
  gap: 2rem;
  align-items: flex-start;

  &__main {
    width: max-content;
    padding: 2rem 0 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: $color-blue-1;
    border-radius: 1rem;
  }
  &__sub-widget,
  &__sub,
  &__widget {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-link {
    position: relative;
    padding: 1.5rem 1rem;
    color: $color-white;
    border-radius: 1.5rem 0 0 1.5rem;
    transition: all 500ms;

    &__icon {
      font-size: 1.5rem;
    }

    &__active,
    &:hover {
      background-color: $color-white;
      color: $color-blue-1;
      cursor: pointer;

      //   &::before {
      //     position: absolute;
      //     content: '';
      //     display: block;
      //     bottom: -5%;
      //     left: 0;
      //     // border-top-left-radius: 1rem;
      //     border-bottom-right-radius: 2rem;
      //     background-color: transparent;
      //     height: 100%;
      //     width: 100%;
      //     z-index: 2;
      //     box-shadow: 0 -25px 0 0 $color-white;
      //   }
    }
  }

  .sub-link {
    padding: 1.6rem 2rem;
    box-shadow: 0px 0px 2px $color-gray-6;
    border-radius: 0.8rem;
    color: $color-blue-1;
    font-size: 1.2rem;
    transition: all 200ms;

    &__active,
    &:hover {
      background-color: $color-blue-1;
      color: $color-white;
      cursor: pointer;
    }
  }

  .widget {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__weather,
    &__community {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.4rem;
      border: solid 1px $color-gray-1;
      border-radius: 0.8rem;
    }
    &__community {
      text-align: center;
      font-size: 1rem;
      color: $color-blue-2;
    }
    .heading {
      font-size: 1.2rem;
      color: $color-blue-2;
      font-weight: bolder;
    }

    .summary {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      color: $color-blue-1;
    }
    .percentage,
    .total {
      font-size: 3rem;
      color: $color-blue-1;
    }

    & img {
      transform: scale(0.5);
    }
  }
}

.body {
  display: grid;
  grid-template-columns: max-content 4fr;
  gap: 2rem;
  padding: 2rem;
}
