.feed {
  width: 100%;
  padding: 1rem;
}

.card {
  border: solid 1px $color-gray-1;
  padding: 1.8rem;
  border-radius: 1.5rem;
  display: grid;
  gap: 2rem;

  &__control {
    display: flex;

    &--top {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    &--bottom {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      .data {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        &__img {
        }
        &__value {
          font-size: 1rem;
        }
      }
    }
  }

  &__media {
    display: grid;
    gap: 1rem;

    &--grid-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &--grid-3 {
      grid-template-columns: 2fr 1fr;

      & > img {
        &:nth-child(1) {
          grid-row: 1 / span 2;
        }
      }
    }

    &--grid-4 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      & > img {
        &:nth-child(1) {
          grid-row: 1;
        }
      }
    }
  }

  .avatar {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: $color-black;

    &--single {
      border-radius: 50%;
    }
    &--group {
    }

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;

      &--absolute {
        position: absolute;
        width: 55%;
        height: 55%;
        top: 60%;
        left: 55%;
        border: solid 1px $color-white;
        border-radius: 50%;
      }

      &--group {
        border-radius: 1rem;
      }
    }
  }
  .detail {
    &--top {
      &:not(:last-of-type) {
        font-size: 1rem;
        font-weight: bold;
      }

      &:last-of-type {
        margin: 0 0.5rem;
      }
    }

    &--bottom {
      margin-top: 1rem;
    }
  }

  .options {
    margin-left: auto;
  }
}
