.connections,
.neighbours {
  display: grid;
  grid-template-columns: 3fr 1fr;
  &__grid {
    height: min-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20%));
    gap: 2rem;
  }
}
