.group-details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: min-content;
  gap: 2rem;
}

.details {
  display: grid;
  gap: 2rem;
}
.cover {
  display: grid;
  gap: 1rem;

  &__img {
    position: relative;
    width: 100%;
    height: 20rem;
    border-radius: 1.4rem;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color-black, 0.2);
      z-index: 2;
    }

    &:hover > * {
      opacity: 1;
    }
  }

  &__edit {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    gap: 1rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: $color-white;
    color: $color-blue-1;
    border-radius: 0.4rem;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
  }

  &__text {
    display: flex;
    justify-content: space-between;

    &--name {
      font-size: 1.6rem;
    }
    &--location {
      font-size: 0.9rem;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    .members {
      display: flex;
      align-items: center;

      &__avi {
        display: flex;

        & > * {
          width: 3rem;
          height: 3rem;
          left: -50%;
          border-radius: 50%;
          padding: 0.2rem;
          background-color: $color-white;

          &:not(:first-child) {
            margin-left: -0.8rem;
          }
        }
      }

      &__action {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: $color-blue-1;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        color: $color-white;
        cursor: pointer;
      }
    }
  }
}
