// @import 'utils/variables';
// @import 'utils/mixins';
@import '../utils/mixins';
@import '../utils/variables';

.login-wrapper {
  position: absolute;
  width: calc(100% - 22rem);
  height: 85vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  @include screenSize(S) {
    width: calc(100% - 11rem);
  }
}

.leftpane {
  position: relative;
  width: 100%;
  border: solid 0.1rem $color-gray-1;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-right: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 0 3rem;
  align-items: center;
  overflow: auto;

  @include screenSize(S) {
    border: solid 0.1rem $color-gray-1;
  }
}

.top {
  position: sticky;
  width: 100%;
  padding: 3rem 0 1rem;
  top: 0;
  z-index: 1;
  background-color: $color-white;
  // box-shadow: 0px 0px 0.8px rgba($color-black, 0.035),
  //   0px 0px 6px rgba($color-black, 0.07);

  img {
    height: 5rem;
    margin: auto 0;
    display: block;
    // margin: auto;
  }
}

.rightpane {
  position: relative;
  width: 100%;
  background-image: url(/images/signIn-bgImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;

  @include screenSize(S) {
    display: none;
  }
}

.login,
.signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  font-size: 1.4rem;
}
.two-fa {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-size: 1.4rem;

  &__text {
    width: 70%;
    margin: auto;
    .heading {
      font-size: 3.6rem;
      color: $color-black-1;
    }

    .desc {
      font-size: 1.2rem;
      color: $color-gray-4;
    }
  }
}
