//white
$color-white: #fff;

//Gray
$color-gray-1: #dadce0;
$color-gray-2: #acacac;
$color-gray-3: #707070;
$color-gray-4: #444444;
$color-gray-5: #949494;
$color-gray-6: #00000029;
$color-gray-7: #eef0f4;

//Black
$color-black: #000000;
$color-black-1: #171821;

//Green
$color-green-1: #00cf90;

//Blue
$color-blue-1: #0086e6;
$color-blue-2: #1a1d4d;

//orange/red
$color-orange-1: #ff1b0a;

$color-red-1: #ee4646;

//yellow
$color-yellow-1: #efca2f;
$color-yellow-2: #f2cd30;
$color-yellow-3: #ffd832;

//font(s)
$font-montserrat: 'Montserrat', sans-serif;
